In [1]:
import numpy as np

In [14]:
data = np.loadtxt('asset.csv',delimiter=',',dtype = 'str')

In [15]:
data

array([['G1', '1', '100', '5', '0'],
       ['G1', '1', '21', '538', '0'],
       ['G1', '1', '22', '6000', '0'],
       ...,
       ['G2', '8', '61', '241908', '8800'],
       ['G2', '8', '70', '57341', '16800'],
       ['G2', '9', '51', '1340', '0']], dtype='<U7')

In [16]:
data[:,0]

array(['G1', 'G1', 'G1', ..., 'G2', 'G2', 'G2'], dtype='<U7')

In [7]:
data[1]

'G1,1,21,538,0'

In [17]:
import pandas as pd

In [18]:
df = {'sex':data[:,0],
     'family_num':data[:,1],
     'captain_age':data[:,2],
     'asset':data[:,3],
     'debt':data[:,4]}

In [20]:
test = pd.DataFrame(df)

In [21]:
test

      sex family_num captain_age   asset    debt
0      G1          1         100       5       0
1      G1          1          21     538       0
2      G1          1          22    6000       0
3      G1          1          23      10       0
4      G1          1          23    1030       0
5      G1          1          23   10500       0
6      G1          1          23    1420       0
7      G1          1          23    4380    1000
8      G1          1          23     520       0
9      G1          1          23     909       0
10     G1          1          24    1000       0
11     G1          1          24   12830       0
12     G1          1          24    1419       0
13     G1          1          24     244       0
14     G1          1          24     250       0
15     G1          1          24    2550     700
16     G1          1          24    3820       0
17     G1          1          24     400     200
18     G1          1          24    5390      30
19     G1          1          24    6131       0
20     G1          1          24     800       0
21     G1          1          25    1000       0
22     G1          1          25    1050       0
23     G1          1          25   10700       0
24     G1          1          25    1200       0
25     G1          1          25    1220       0
26     G1          1          25   12550    5000
27     G1          1          25    2000    1700
28     G1          1          25   21290       0
29     G1          1          25    2270       0
...    ..        ...         ...     ...     ...
18610  G2          6          71   31890       0
18611  G2          6          71   37941    3000
18612  G2          6          72   10710    7000
18613  G2          6          73  112746     700
18614  G2          6          73   32212       0
18615  G2          6          75   46793       0
18616  G2          7          41    8599     920
18617  G2          7          42   34246    7000
18618  G2          7          44   94940   21400
18619  G2          7          45   64646   11000
18620  G2          7          46   21030       0
18621  G2          7          47   27596    9836
18622  G2          7          48    6043    8860
18623  G2          7          49   88517   35000
18624  G2          7          51   26411       0
18625  G2          7          52   72719   26000
18626  G2          7          53   57456   22680
18627  G2          7          56   22454       0
18628  G2          7          56  589440  227000
18629  G2          7          57   21184    7620
18630  G2          7          57   23842   12200
18631  G2          7          57    8946       0
18632  G2          7          60  129190   72000
18633  G2          7          65  166110       0
18634  G2          7          68   26045    5500
18635  G2          7          70   18631    1300
18636  G2          8          38   78746       0
18637  G2          8          61  241908    8800
18638  G2          8          70   57341   16800
18639  G2          9          51    1340       0

[18640 rows x 5 columns]

In [22]:
test.head()

  sex family_num captain_age asset debt
0  G1          1         100     5    0
1  G1          1          21   538    0
2  G1          1          22  6000    0
3  G1          1          23    10    0
4  G1          1          23  1030    0

In [23]:
pd.DataFrame(data,columns = ['sex','captain_age','family_num','asset','debt'])

      sex captain_age family_num   asset    debt
0      G1           1        100       5       0
1      G1           1         21     538       0
2      G1           1         22    6000       0
3      G1           1         23      10       0
4      G1           1         23    1030       0
5      G1           1         23   10500       0
6      G1           1         23    1420       0
7      G1           1         23    4380    1000
8      G1           1         23     520       0
9      G1           1         23     909       0
10     G1           1         24    1000       0
11     G1           1         24   12830       0
12     G1           1         24    1419       0
13     G1           1         24     244       0
14     G1           1         24     250       0
15     G1           1         24    2550     700
16     G1           1         24    3820       0
17     G1           1         24     400     200
18     G1           1         24    5390      30
19     G1           1         24    6131       0
20     G1           1         24     800       0
21     G1           1         25    1000       0
22     G1           1         25    1050       0
23     G1           1         25   10700       0
24     G1           1         25    1200       0
25     G1           1         25    1220       0
26     G1           1         25   12550    5000
27     G1           1         25    2000    1700
28     G1           1         25   21290       0
29     G1           1         25    2270       0
...    ..         ...        ...     ...     ...
18610  G2           6         71   31890       0
18611  G2           6         71   37941    3000
18612  G2           6         72   10710    7000
18613  G2           6         73  112746     700
18614  G2           6         73   32212       0
18615  G2           6         75   46793       0
18616  G2           7         41    8599     920
18617  G2           7         42   34246    7000
18618  G2           7         44   94940   21400
18619  G2           7         45   64646   11000
18620  G2           7         46   21030       0
18621  G2           7         47   27596    9836
18622  G2           7         48    6043    8860
18623  G2           7         49   88517   35000
18624  G2           7         51   26411       0
18625  G2           7         52   72719   26000
18626  G2           7         53   57456   22680
18627  G2           7         56   22454       0
18628  G2           7         56  589440  227000
18629  G2           7         57   21184    7620
18630  G2           7         57   23842   12200
18631  G2           7         57    8946       0
18632  G2           7         60  129190   72000
18633  G2           7         65  166110       0
18634  G2           7         68   26045    5500
18635  G2           7         70   18631    1300
18636  G2           8         38   78746       0
18637  G2           8         61  241908    8800
18638  G2           8         70   57341   16800
18639  G2           9         51    1340       0

[18640 rows x 5 columns]

In [40]:
frame = pd.DataFrame(data,columns=['sex','family_num','captain_age','asset','debt'],index = ['Data'+str(x) for x in range(18640)])

In [52]:
sum(frame['debt'].values.astype('int32'))

126893174

In [53]:
frame['asset']

Data0             5
Data1           538
Data2          6000
Data3            10
Data4          1030
Data5         10500
Data6          1420
Data7          4380
Data8           520
Data9           909
Data10         1000
Data11        12830
Data12         1419
Data13          244
Data14          250
Data15         2550
Data16         3820
Data17          400
Data18         5390
Data19         6131
Data20          800
Data21         1000
Data22         1050
Data23        10700
Data24         1200
Data25         1220
Data26        12550
Data27         2000
Data28        21290
Data29         2270
              ...
Data18610     31890
Data18611     37941
Data18612     10710
Data18613    112746
Data18614     32212
Data18615     46793
Data18616      8599
Data18617     34246
Data18618     94940
Data18619     64646
Data18620     21030
Data18621     27596
Data18622      6043
Data18623     88517
Data18624     26411
Data18625     72719
Data18626     57456
Data18627     22454
Data18628    589440
Data18629     21184
Data18630     23842
Data18631      8946
Data18632    129190
Data18633    166110
Data18634     26045
Data18635     18631
Data18636     78746
Data18637    241908
Data18638     57341
Data18639      1340
Name: asset, Length: 18640, dtype: object

In [54]:
frame.asset

Data0             5
Data1           538
Data2          6000
Data3            10
Data4          1030
Data5         10500
Data6          1420
Data7          4380
Data8           520
Data9           909
Data10         1000
Data11        12830
Data12         1419
Data13          244
Data14          250
Data15         2550
Data16         3820
Data17          400
Data18         5390
Data19         6131
Data20          800
Data21         1000
Data22         1050
Data23        10700
Data24         1200
Data25         1220
Data26        12550
Data27         2000
Data28        21290
Data29         2270
              ...
Data18610     31890
Data18611     37941
Data18612     10710
Data18613    112746
Data18614     32212
Data18615     46793
Data18616      8599
Data18617     34246
Data18618     94940
Data18619     64646
Data18620     21030
Data18621     27596
Data18622      6043
Data18623     88517
Data18624     26411
Data18625     72719
Data18626     57456
Data18627     22454
Data18628    589440
Data18629     21184
Data18630     23842
Data18631      8946
Data18632    129190
Data18633    166110
Data18634     26045
Data18635     18631
Data18636     78746
Data18637    241908
Data18638     57341
Data18639      1340
Name: asset, Length: 18640, dtype: object

In [59]:
test = pd.DataFrame(data,columns=['def','family_num','captain_age','asset','debt'],index = ['Data'+str(x) for x in range(18640)])

In [56]:
test

          int family_num captain_age   asset    debt
Data0      G1          1         100       5       0
Data1      G1          1          21     538       0
Data2      G1          1          22    6000       0
Data3      G1          1          23      10       0
Data4      G1          1          23    1030       0
Data5      G1          1          23   10500       0
Data6      G1          1          23    1420       0
Data7      G1          1          23    4380    1000
Data8      G1          1          23     520       0
Data9      G1          1          23     909       0
Data10     G1          1          24    1000       0
Data11     G1          1          24   12830       0
Data12     G1          1          24    1419       0
Data13     G1          1          24     244       0
Data14     G1          1          24     250       0
Data15     G1          1          24    2550     700
Data16     G1          1          24    3820       0
Data17     G1          1          24     400     200
Data18     G1          1          24    5390      30
Data19     G1          1          24    6131       0
Data20     G1          1          24     800       0
Data21     G1          1          25    1000       0
Data22     G1          1          25    1050       0
Data23     G1          1          25   10700       0
Data24     G1          1          25    1200       0
Data25     G1          1          25    1220       0
Data26     G1          1          25   12550    5000
Data27     G1          1          25    2000    1700
Data28     G1          1          25   21290       0
Data29     G1          1          25    2270       0
...        ..        ...         ...     ...     ...
Data18610  G2          6          71   31890       0
Data18611  G2          6          71   37941    3000
Data18612  G2          6          72   10710    7000
Data18613  G2          6          73  112746     700
Data18614  G2          6          73   32212       0
Data18615  G2          6          75   46793       0
Data18616  G2          7          41    8599     920
Data18617  G2          7          42   34246    7000
Data18618  G2          7          44   94940   21400
Data18619  G2          7          45   64646   11000
Data18620  G2          7          46   21030       0
Data18621  G2          7          47   27596    9836
Data18622  G2          7          48    6043    8860
Data18623  G2          7          49   88517   35000
Data18624  G2          7          51   26411       0
Data18625  G2          7          52   72719   26000
Data18626  G2          7          53   57456   22680
Data18627  G2          7          56   22454       0
Data18628  G2          7          56  589440  227000
Data18629  G2          7          57   21184    7620
Data18630  G2          7          57   23842   12200
Data18631  G2          7          57    8946       0
Data18632  G2          7          60  129190   72000
Data18633  G2          7          65  166110       0
Data18634  G2          7          68   26045    5500
Data18635  G2          7          70   18631    1300
Data18636  G2          8          38   78746       0
Data18637  G2          8          61  241908    8800
Data18638  G2          8          70   57341   16800
Data18639  G2          9          51    1340       0

[18640 rows x 5 columns]

In [60]:
test.def

SyntaxError: invalid syntax (<ipython-input-60-46f4c7ce6d3e>, line 1)

In [61]:
test['def']

Data0        G1
Data1        G1
Data2        G1
Data3        G1
Data4        G1
Data5        G1
Data6        G1
Data7        G1
Data8        G1
Data9        G1
Data10       G1
Data11       G1
Data12       G1
Data13       G1
Data14       G1
Data15       G1
Data16       G1
Data17       G1
Data18       G1
Data19       G1
Data20       G1
Data21       G1
Data22       G1
Data23       G1
Data24       G1
Data25       G1
Data26       G1
Data27       G1
Data28       G1
Data29       G1
             ..
Data18610    G2
Data18611    G2
Data18612    G2
Data18613    G2
Data18614    G2
Data18615    G2
Data18616    G2
Data18617    G2
Data18618    G2
Data18619    G2
Data18620    G2
Data18621    G2
Data18622    G2
Data18623    G2
Data18624    G2
Data18625    G2
Data18626    G2
Data18627    G2
Data18628    G2
Data18629    G2
Data18630    G2
Data18631    G2
Data18632    G2
Data18633    G2
Data18634    G2
Data18635    G2
Data18636    G2
Data18637    G2
Data18638    G2
Data18639    G2
Name: def, Length: 18640, dtype: object

In [64]:
frame.loc['Data18639']

sex              G2
family_num        9
captain_age      51
asset          1340
debt              0
Name: Data18639, dtype: object

In [67]:
frame.debt = np.arange(18640)

In [68]:
frame

          sex family_num captain_age   asset   debt
Data0      G1          1         100       5      0
Data1      G1          1          21     538      1
Data2      G1          1          22    6000      2
Data3      G1          1          23      10      3
Data4      G1          1          23    1030      4
Data5      G1          1          23   10500      5
Data6      G1          1          23    1420      6
Data7      G1          1          23    4380      7
Data8      G1          1          23     520      8
Data9      G1          1          23     909      9
Data10     G1          1          24    1000     10
Data11     G1          1          24   12830     11
Data12     G1          1          24    1419     12
Data13     G1          1          24     244     13
Data14     G1          1          24     250     14
Data15     G1          1          24    2550     15
Data16     G1          1          24    3820     16
Data17     G1          1          24     400     17
Data18     G1          1          24    5390     18
Data19     G1          1          24    6131     19
Data20     G1          1          24     800     20
Data21     G1          1          25    1000     21
Data22     G1          1          25    1050     22
Data23     G1          1          25   10700     23
Data24     G1          1          25    1200     24
Data25     G1          1          25    1220     25
Data26     G1          1          25   12550     26
Data27     G1          1          25    2000     27
Data28     G1          1          25   21290     28
Data29     G1          1          25    2270     29
...        ..        ...         ...     ...    ...
Data18610  G2          6          71   31890  18610
Data18611  G2          6          71   37941  18611
Data18612  G2          6          72   10710  18612
Data18613  G2          6          73  112746  18613
Data18614  G2          6          73   32212  18614
Data18615  G2          6          75   46793  18615
Data18616  G2          7          41    8599  18616
Data18617  G2          7          42   34246  18617
Data18618  G2          7          44   94940  18618
Data18619  G2          7          45   64646  18619
Data18620  G2          7          46   21030  18620
Data18621  G2          7          47   27596  18621
Data18622  G2          7          48    6043  18622
Data18623  G2          7          49   88517  18623
Data18624  G2          7          51   26411  18624
Data18625  G2          7          52   72719  18625
Data18626  G2          7          53   57456  18626
Data18627  G2          7          56   22454  18627
Data18628  G2          7          56  589440  18628
Data18629  G2          7          57   21184  18629
Data18630  G2          7          57   23842  18630
Data18631  G2          7          57    8946  18631
Data18632  G2          7          60  129190  18632
Data18633  G2          7          65  166110  18633
Data18634  G2          7          68   26045  18634
Data18635  G2          7          70   18631  18635
Data18636  G2          8          38   78746  18636
Data18637  G2          8          61  241908  18637
Data18638  G2          8          70   57341  18638
Data18639  G2          9          51    1340  18639

[18640 rows x 5 columns]

In [70]:
series = pd.Series(np.ones(18640))